.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.dialogsItems {
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
}

.messagesItems {
    grid-column: 2;
    grid-row: 1;
    padding: 10px;
}

.active {
    color: goldenrod;
}