/* General App styles */

.appWrapper {
  display: grid;
  grid-template-columns: 200px 4fr;
  grid-template-rows: auto 100% 1fr;
}

.contentWrapper {
  grid-column: 2;
  grid-row: 2;
  background-color: rgb(46, 81, 185);
  color: white;
  width: 100%;
  height: 100%;
}

/* System CSS styles */

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  outline: none;
  resize: none;
}

button, img {
  user-select: none;
}